@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #F5F7FB;
}

main {
    margin: 50px;
    color: #293264;
    
}

.question-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    border-bottom: 1px solid #DBDEF0;
    padding: 20px 0px;
}

.question {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.answer {
    padding: 5px 10px;
    border-radius: 10px;
    background: #F5F7FB;
    color: #293264;
    border: 1px solid #4D5B9E;
    opacity: 0.5;
    font-weight: 600;
    margin: 12px 7px;
    font-size: 14px;
}